<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Technically Speaking Blog Site</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>

<body class="has-background-dark">

  <header class="navbar has-background-primary-dark has-shadow py-4">

    <div class="navbar-brand">
      <h1 class="title">Technically Speaking</h1>
      <h2 class="subtitle">Blog space!-{{message}}</h2>
    </div>

    <nav class="navbar-menu">
      <ul class="navbar-end">
        <a href="/" class="navbar-item">Homepage</a>
        {{#if loggedIn}}
        <a href="/dashboard" class="navbar-item">Dashboard</a>        
        <a href="/logout" class="navbar-item">Logout</a>
        {{else}}
        <a href="/login" class="navbar-item">Dashboard</a>
        <a href="/login" class="navbar-item">Log in</a>
        {{/if}}
      </ul>
    </nav>

  </header>

  <main>

    <div class="section">
      {{{body}}}
    </div>

  </main>

  <footer class="footer has-background-primary-dark has-shadow">

    <div class="content">
      Made by Ken W
    </div>

  </footer>
  
</body>

</html>