<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Technically Speaking Blog Site</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>

<body>
  <header>
    <h1>Technically Speaking</h1>
  </header>
  <nav>
    
  </nav>
  <main>
    <aside>
      <h2>Blog space!</h2>
    </aside>
    <div>
      {{{body}}}
    </div>
  </main>
  
</body>

</html>
