<section class="section">
    <div>Testing homepage handlebars!</div>
    <section class="section">
        <h1 class="title">Blog Space</h1>
        <div class="section">
            <div class="container">

                <div class="columns is-centered">
                    <!-- -->
                    {{#each blogs as |blog|}}
                    <div class="card column is-4 mb-0">

                        <header class="card-header">
                            <h2 class="card-header-title"><a href="#">{{blog.blog_title}}</a></h2>
                        </header>

                        <div class="card-content">
                            <div class="content">
                                <p class="subtitle">{{blog.blog_date}}</p>
                            </div>
                        </div>

                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">User/{{blog.user}}</a>
                        </footer>
                        
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </section>
</section>