<div class="section">
  <div class="container">

    <div class="columns is-centered">

      <div class="card column is-4 mb-0">

        <header class="card-header">
          <h2 class="card-header-title">Login</h2>
        </header>

        <div class="card-content">
          <div class="content">

            <form>
              <div class="field">
                <label class="label">Username:</label>
                <div class="control">
                  <input class="input" type="text" id="email-login" placeholder="Username..." />
                </div>
              </div>

              <div class="field">
                <label class="label">Password:</label>
                <div class="control">
                  <input class="input" type="password" id="password-login" placeholder="Password..." />
                </div>
              </div>

              <div class="has-text-right">
                <button class="button is-primary" type="submit">Login</button>
              </div>
            </form>

          </div>
        </div>

      </div>

      <div class="card column is-4">

        <header class="card-header">
          <h2 class="card-header-title">Don't have an account? Signup!</h2>
        </header>

        <div class="card-content pb-0">
          <div class="content">

            <form>
              <div class="field">
                <label class="label">Username:</label>
                <div class="control">
                  <input class="input" type="text" id="username-signup" placeholder="Username..." />
                </div>
              </div>

              <div class="field">
                <label class="label">Password:</label>
                <div class="control">
                  <input class="input" type="password" id="password-signup" placeholder="Password..." />
                </div>
              </div>

              <div class="has-text-right">
                <button class="button is-primary" type="submit">Signup</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>

    <script src="./js/login.js"></script>

  </div>
</div>